html, body{
	font-family: impact;
	margin: 0;
	padding: 0;
}

header{
	padding: 10px;
	background-color: black;
	text-align: center;
}

h1{
	font-size: 20px;
	color: #dbdbdb;
}

header img{
	max-width: 100%;
}


.content1{
	margin: 0 auto;
	padding: 20px; 
	background-color: #dbdbdb;

}

.content1 ul{
	text-align: center;
}

.content1 ul li{
	display: inline-block;
	word-wrap: break-word;
	width:200px;
	margin:20px;

}

h2{
	text-shadow: 0 4px 20px black;
}

.content2 ol li{
	padding: 5px 10px;
  	background-color: #EEEEEE;
  	border: 1px solid #DDDDDD;
  	text-align: center;

}
.content2 ol{
	list-style: none;
  	float: right;
}

nav ol{height: 280px; width: 550px;}
nav ol{overflow:hidden; overflow-y:scroll;}

.content2{
	margin: 0 auto;
	padding: 20px;
	background-color: #a80101;
	text-align: center;

}


img.list-image{
	max-width: 100%;
	border: 10px solid #dbdbdb;
	float: left;
}

p.caption{
	font-style: italic;
	font-size: 12px;
	color: #dbdbdb;
	text-align: left;
	padding-top: 320px
}


.content3{
	margin: 0 auto;
	padding: 20px 80px;
	background-color: black;
	text-align: left;
	color: #dbdbdb;
	padding-bottom: 30px;
}

.content3 p{
	word-wrap: break-word;
	width:500px;
	padding: 40px
}

img.funisher-img{
	max-width: 100%;
	border: 10px solid #dbdbdb;

}

ul{
	list-style: none;
	padding: 0;
	margin: 0;

}

a{
	color: red;
	text-decoration: none;

}

.content3 ul{
	float: center;
  	padding: 0;
  	list-style-type: disc;

}
.content3 ul li{
	text-align: left;
	margin: 0 0 10px 0;

}

h3{
	font-size: 20px;
	color: #dbdbdb;
	text-align: center;
}


footer{
	background-color: black;
	color: #dbdbdb;
	font-size: 12px;
	padding: 40px;
	text-align: center;
}












