html, body{
	font-family: impact;
	margin: 0;
}

header{
	background-color: black;
	padding: 10px;
	text-align: center;
}

h1{
	font-size: 20px;
	color: #dbdbdb;
}

header img{
	max-width: 100%;
}




		/*<div class="content1">
			<h2>Frank's Backstory</h2>
			<h2>Story Motifs</h2>
			<h2>Comic History</h2>
			<p>FB</p>
			<p>SM</p>
			<p>CH</p>
		</div>*/

.content1{
	margin: 0 auto;
	padding: 0 80px; 
	background-color: #dbdbdb;
}

.content1 ul{
	text-align: center;
}

.content1 ul li{
	display: inline-block;
	margin: 0 50px;

}


		/*<div class="content2">
			<h3>Who Has The Punisher Killed?</h3>
			<p>In the marvel universe the punisher has killed alot of people blah blah blah</p>
			<img class="list-image" src="img/list-image.png">
			<p class="caption">image taken from The Punisher Kills The Marvel Universe <br> origonal release date: November, 1995 <br> Story by Garth Ennis & Doug Braithwaite</p>
			<ol>
				<li>Daredevil</li>
				<li>?</li>
				<li>?</li>
				<li>?</li>
				<li>?</li>
				<li>?</li>
				<li>?</li>
				<li>?</li>
				<li>?</li>
				<li>?</li>
				<li>?</li>
			</ol>

		</div>*/

.content2{
	margin: 0 auto;
	padding: 0 80px;
	background-color: #a80101; 
}

img.list-image{
	max-width: 100%;
	border: 10px solid #dbdbdb;
}

p.caption{
	font-style: italic;
	font-size: 16px;
	color: #dbdbdb;
}

		/*<div class="content3">
			<h3>The Punisher In Other Media</h3>
			<ul>
				<li><a href="" target="_blank" title="learn more">movie</a></li>
				<li><a href="" target="_blank" title="learn more">animated</a></li>
				<li><a href="" target="_blank" title="learn more">television</a></li>
				
			</ul>
			<p>About Funisher
			<a href="" target="_blank" title="listen to funisher here">Podcast</a></p>
			<img class="funisher-img"src="img/funisher-img.jpg">
		</div>*/

.content3{
	margin: 0 auto;
	padding: 0 80px; 
	background-color: black; 
}

img.funisher-img{
	max-width: 100%;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;

}

a{
	color: red;
	text-decoration: none;

}

.content3 ul{
	text-align: right;
}

.content3 ul li{
	margin: 0 50px;

}
		/*<footer>
			<p>
				Website Design By <a href="http://mrra.co" target="_blank" title="Visit Jenel's Website">Jenel Lawson</a><br>
				Made during the <a href="http://skillshare.com" target="_blank" title="Visit Skillshare.com">Skillshare</a> class 'Hand-Coding Your First Website: HTML and CSS Basics' taught by <a href="http://mrra.co" target="_blank" title="Visit Rich's Website">Rich Armstrong</a><br>
				&copy; 2019<br>
			</p>
		</footer>*/

footer{
	margin-top: 20px;
	padding:40px 20px;
	background-color: black;
	color: #dbdbdb;
}











